---
import type { GetStaticPaths } from "astro";
import DefaultLayout from "../../layouts/DefaultLayout.astro";

export async function getStaticPaths() {

    // traemos esto para saber cuantos post hay y obtener el id de cada uno, para poder hacer la petición de cada uno
    const response = await fetch("http://localhost:3000/posts");
    const posts = await response.json();

    return posts.map(post => {
        return {
            params: {
                id: post.id
            }
        }
    })
}

const { id } = Astro.params;

/* 
El nombre entre corchetes en el nombre del archivo indica que es una página dinámica [id]
por ello id es un parámetro que se puede usar en la página
y debe ir dentro de params: { id: "valor" }
y además en el const { id } = Astro.params;
*/

const postResponse = await fetch(`http://localhost:3000/posts/${id}`);
const {title, description, content, created_at } = await postResponse.json();
---

<DefaultLayout>
    <div>
        <article
		class="text-black max-w-4xl mx-auto px-5 py-6 flex flex-col gap-2 rounded"
	>
		<img
			src="https://images.pexels.com/photos/28193003/pexels-photo-28193003/free-photo-of-vista-aerea-panoramica-de-monaco-al-anochecer.jpeg"
			alt=""
			class="rounded"
		/>
		<h2 class="text-2xl font-bold">{title}</h2>
		<p>{description}</p>
		<p>
			{content}
		</p>
	</article>
    </div>
</DefaultLayout>