---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---
<DefaultLayout>
    <!-- Esto se ve a renderizar en el slot header del layout -->
	<meta slot="header" charset="utf-8" />
	<link slot="header" rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta slot="header" name="viewport" content="width=device-width" />
	<meta slot="header" name="generator" content={Astro.generator} />
	<title slot="header">404</title>     
    <h1 class="text-6xl text-center my-32 p-12 font-bold" style="font-size: 3rem;">Página no encontrada 404</h1>
</DefaultLayout>