---
import Post from "../components/Post.astro";


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<!-- <Post title="Mi post nuevo" description="La descripción de mi post" /> -->
		<!-- <Post post={{title: "Mi post nuevo", description: "La descripción de mi post"}} los primeros parentesis son para que interprete js /> -->
		<Post post={{
			title: "Mi post nuevo",
			description: "La descripción de mi post"
		}} />
		<Post post={{
			title: "Mi 2do post nuevo",
			description: "La descripción de mi post"
		}} />
		<Post post={{
			title: "Mi 3er componente",
			description: "La descripción de mi post"
		}} />
		<Post post={{
			title: "Mi tal vez último post",
			description: "La descripción de mi post"
		}} />
	</body>
</html>
