---
import Post from "../components/Post.astro";
// top level await, permite ocupar await sin envolverlo en una funci贸n async
const response = await fetch("http://localhost:3000/posts");
const posts = await response.json();

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1 class="text-center text-3xl font-bold mb-6 mt-3">Mis Posts</h1>
		<!-- <Post title="Mi post nuevo" description="La descripci贸n de mi post" /> -->
		<!-- <Post post={{title: "Mi post nuevo", description: "La descripci贸n de mi post"}} los primeros parentesis son para que interprete js /> -->
		<!-- <Post post={{
			title: "Mi post nuevo",
			description: "La descripci贸n de mi post"
		}} /> -->
		<div class="grid max-w-7xl mx-auto w-full justify-center justify-items-center items-center gap-4 grid-cols-3" >
			{posts.map(post => (<Post post={post} />))}
		</div>
	</body>
</html>
